body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f6fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.1);
    text-align: center;
    position: relative;
}

.watermark {
    position: absolute;
    top: -350px; /* Adjust as needed */
    right: 1350px; /* Adjust as needed */
  }
  
  .watermark img {
    width: 100px; /* Adjust size as needed */
    opacity: 1; /* Transparency for watermark effect */
  }
  

h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

#cubecraftBtn {
    background-color: #3498db;
}

#cubecraftBtn:hover {
    background-color: #2980b9;
}

#hiveBtn {
    background-color: #48c9b0;
}

#hiveBtn:hover {
    background-color: #1abc9c;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: inset 0 1px 5px rgba(0, 123, 255, 0.1);
}

.account-buttons {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.account-btn {
    background-color: #3498db;
    color: rgb(206, 48, 48);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.account-btn:hover {
    background-color: #2980b9;
}

.remove-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
}

.timer {
    margin-top: 20px;
    font-size: 16px;
    color: #2c3e50;
    background-color: #f7f9fc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.05);
}

.active-account {
    background-color: #5dade2;
}

#manageAccountsBtn {
    background-color: #5dade2;
}

#manageAccountsBtn:hover {
    background-color: #3498db;
}

/* Slide animation */
.slide-down {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.slide-down.active {
    max-height: 400px;
    opacity: 1;
}